[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Ilwaco IDE
Comment=FreeBASIC IDE for Linux
Exec=env GTK_THEME=Adwaita:dark ilwaco
Path=
Icon=Resources/VisualFBEditor.ico
Categories=Development;IDE;
